<tr>
  <td><%= link_to 'Details', user_cini_videos_path(cini) %> |</td>	
  <td><%= link_to 'Videos', user_cini_videos_path(cini) %> |</td>
  <td><%= link_to 'Galleries', user_cini_galleries_path(cini) %> |</td>
  <td><%= link_to 'Messages', '#' %> |</td>
  <td><%= link_to 'Updates', '#' %> |</td>
  <td><%= link_to 'Crew/Admin', user_cini_roles_path(cini) %> |</td>
  <td><%= link_to 'Needs', user_cini_needs_path(cini) %> </td>
</tr>