<h1>Inbox</h1>
<%= link_to 'Messages', messages_path %>
<%= link_to 'Connections', connections_path %>
<%= link_to 'Notifications', notifications_path %>
<%= link_to 'Roles', roles_path %>
<%= link_to 'Needs', needs_path %>

