<h1>My Settings</h1>

<%= link_to 'Profile', user_profile_path %>
<%= link_to 'Reels', user_reels_path %>
<%= link_to 'Credits', user_credits_path %>
<%= link_to 'Account', user_account_index_path %>
<%= link_to 'Privacy', user_privacy_path %>

