<h4 class="title">“<%= get_capitalize(role.character) %>”</h4>
<% status = role.gender.nil? ? '' : (role.gender == true ? "F" : "M") %>
<span class="generalInfo">Sex: <%= status %></span>
<span class="generalInfo">Height: <%= role.height %></span>
<span class="generalInfo">Age: <%= role.age %></span>
<span class="generalInfo">Hair: <%= role.hair_color %></span>
<div class="generalText"><%= get_capitalize_with_truncate(role.description) %></div>
<% unless role.get_role_status != "Apply" %>
  <p class="applyRoll"><a href="javascript:void(0);">Apply for Role &gt;</a></p>
<% end %>